//BootStrap - https://react-bootstrap.github.io/layout/grid/
// icones ricas: https://fontawesome.com/
//variáveis para substituir no bootstrap
$body-color: #43616f;
$body-bg: #fff;
$font-size-base: 0.925rem; //bootstrap trabalha com a media rem

@import "~bootstrap/scss/bootstrap";




